* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  ::-webkit-scrollbar {
    display: none;
  }
}

.menu-link {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  color: #000000;
  text-decoration: none;
  &:hover {
    background-color: #c8d9b0;
  }
}

.modal-fx1 {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.modal-fx2 {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

@media (max-width: 600px) {
  .MuiList-root,
  .MuiListItem-root {
    display: block;
  }

  .MuiListItemIcon-root,
  .MuiListItemText-root {
    text-align: center;
  }

  .MuiListItemIcon-root {
    margin-right: 0;
  }

  h3 {
    font-size: 1.2rem;
  }
}
